body{
  background: #282c34;
}
.container{
  display: flex;
  justify-content:space-evenly;
  padding: 3%;
  flex-wrap: wrap;
}

.container > * {
  flex : 1 0 300px;
  margin : 40px 25px;
}
.card{
  padding: 3%;
  border-radius: 48px;
  background: #282c34;
  box-shadow: inset 12px 12px 24px #121418, 
            inset -12px -12px 24px #3e4450;
  color: white;
  position: relative;
  
}
.image {
  width :80px;
  height:80px;
  border-radius: 50%;
  position:absolute;
  top:-40px;
 

}

